{% extends "app/layout.html" %}

{% block content %} 

<div class="row">
    <div id='calendar'></div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/js/scriptCalendar.js' %}"></script>
<link href="{% static 'app/packages/core/main.css' %}" rel="stylesheet" />
<link href="{% static 'app/packages/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'app/packages/timegrid/main.css' %}" rel='stylesheet' />
<script src="{% static 'app/packages/core/main.js' %}"></script>
<script src="{% static 'app/packages/interaction/main.js' %}"></script>
<script src="{% static 'app/packages/daygrid/main.js' %}"></script>
<script src="{% static 'app/packages/timegrid/main.js' %}"></script>


{% endblock %}  
 